In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
train_df = pd.read_csv('../input/train.csv', parse_dates=['Dates'])

In [3]:
test_df = pd.read_csv('../input/test.csv', parse_dates=['Dates'])

In [4]:
train_df.sample(3)

                     Dates        Category    ...               X          Y
263249 2011-10-20 21:50:00  OTHER OFFENSES    ...     -122.410769  37.783215
508101 2008-03-18 08:15:00   LARCENY/THEFT    ...     -122.495239  37.745926
307277 2011-02-21 23:30:00         ASSAULT    ...     -122.475526  37.763577

[3 rows x 9 columns]

In [5]:
test_df.sample(3)

            Id               Dates    ...               X          Y
153614  153614 2013-05-09 10:50:00    ...     -122.388476  37.741522
485970  485970 2008-07-19 12:07:00    ...     -122.416583  37.778659
221240  221240 2012-06-06 11:00:00    ...     -122.434995  37.760070

[3 rows x 7 columns]

In [6]:
def engineer_dates_col(df):
    dates_col   = df['Dates']
    dates_col   = pd.to_datetime(dates_col)
    df['Year']  = dates_col.dt.year
    df['Year'] = df['Year'] - 2000
    df['Month'] = dates_col.dt.month
    df['Hour'] = dates_col.dt.hour
    df['IsDay'] = dates_col.dt.hour.apply(lambda h: 1 if (h > 6 and h < 20) else 0)
    df['HourSin'] = np.sin((df['Hour']*2*np.pi)/24)
    df['HourCos'] = np.cos((df['Hour']*2*np.pi)/24)
    df['MonthSin'] = np.sin((df['Month']*2*np.pi)/12)
    df['MonthCos'] = np.cos((df['Month']*2*np.pi)/12)
    return df

In [7]:
def engineer_dayofweek_col(df):
    days_int = df['DayOfWeek'].map({
        'Monday': 1,
        'Tuesday': 2,
        'Wednesday': 3,
        'Thursday': 4,
        'Friday': 5,
        'Saturday': 6,
        'Sunday': 7,
    })
    df['DayOfWeekSin']= np.sin((days_int*2*np.pi)/7)
    df['DayOfWeekCos']= np.cos((days_int*2*np.pi)/7)
    return df

In [8]:
def engineer_category_col(df):
    le = LabelEncoder()
    df['Category'] = pd.Series(le.fit_transform(df['Category']))
    return df

In [9]:
def engineer_pddistrict_col(df):
    #le = LabelEncoder()
    #df['PdDistrict'] = pd.Series(le.fit_transform(df['PdDistrict']))
    return pd.get_dummies(df, columns=['PdDistrict'])

In [10]:
def engineer_all_cols(df, encode_category=False):
    df = engineer_dates_col(df)
    df = engineer_dayofweek_col(df)
    df = engineer_pddistrict_col(df)
    if encode_category:
        df = engineer_category_col(df)
    return df

In [11]:
train_df = engineer_all_cols(train_df, encode_category=True)
test_df  = engineer_all_cols(test_df)

In [12]:
train_df.sample(3)

                     Dates          ...            PdDistrict_TENDERLOIN
866435 2003-02-23 16:00:00          ...                                0
228486 2012-04-21 01:00:00          ...                                0
707528 2005-05-05 10:54:00          ...                                0

[3 rows x 28 columns]

In [13]:
test_df.sample(3)

            Id          ...          PdDistrict_TENDERLOIN
103792  103792          ...                              0
86717    86717          ...                              0
553096  553096          ...                              0

[3 rows x 26 columns]

In [14]:
OUTPUT = True
if OUTPUT:
    train_df.to_csv('./train_clean.csv', index=False)
    test_df.to_csv('./test_clean.csv', index=False)
    print('Done Outputing !')

Done Outputing !